/*misc*/
/*variables*/
/*variables*/
/* mixins */
/* mixins */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 0 0 0; }

/* normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  color: #fff; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fff;
  font-weight: 400; }

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: var(--secondary);
  display: inline-block; }

/* normalize */
/*partials*/
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  min-height: 88px;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  background: linear-gradient(to left, #b4b0b0, #e9d5f0);
  color: #fff;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large; }

.foot__networks {
  height: 75px; }

.foot__networks__contact {
  padding: 10px 10px;
  filter: none;
  -webkit-filter: none; }
  .foot__networks__contact:hover {
    filter: brightness(0) invert(1); }

.foot__suscribe__mail {
  display: flex;
  justify-content: flex-end;
  height: 54px; }

.foot__suscribe__text {
  height: 51px; }
  .foot__suscribe__text__title {
    font-size: x-large;
    margin-bottom: 0rem;
    line-height: 1;
    font-weight: bold; }
  .foot__suscribe__text__line {
    font-size: small;
    margin-bottom: 0rem;
    line-height: 1; }

.foot__suscribe__section__box {
  border: none;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  line-height: normal; }

.foot__suscribe__section__btn {
  background-color: #3E2140;
  border: solid;
  border-color: #3E2140;
  color: #fff;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  height: 51px;
  line-height: normal; }
  .foot__suscribe__section__btn:hover {
    background-color: #fff;
    border: solid;
    border-color: #3E2140;
    color: #3E2140; }

/*MEDIA QUERYS*/
@media screen and (max-width: 1200px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    min-height: 220px; }
  .foot__suscribe__mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 108px; }
  .foot__suscribe__text {
    text-align: center;
    margin-bottom: 10px; } }

@media screen and (max-width: 480px) {
  footer {
    height: 35vh;
    min-height: 250px; }
  .foot__suscribe__section__btn {
    padding: 15px 10px;
    font-size: small; }
  .foot__suscribe__section__box {
    padding: 15px 0px;
    font-size: small; }
  footer {
    padding-left: 0;
    padding-right: 0; } }

/* footer */
/*header*/
header {
  background: linear-gradient(to left, #b4b0b0, #e9d5f0); }
  header .navbar {
    width: 100%;
    max-height: 10vh;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    flex-basis: 10%; }
  header picture img {
    max-height: 10vh;
    min-height: 88px; }
  header .menu {
    flex-basis: 90%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px; }
  header .menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.menu__link {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: x-large;
  color: #3E2140;
  text-decoration: none;
  margin-right: 20px; }
  .menu__link:hover {
    color: #fff; }

.active {
  color: #fff !important; }

/* HEADER HAMBURGUER*/
header .hamburger-menu {
  display: none; }

#hamburger-menu__toggle {
  opacity: 0; }

#hamburger-menu__toggle:checked + .hamburger-menu__btn > span {
  transform: rotate(45deg); }

#hamburger-menu__toggle:checked + .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0deg); }

#hamburger-menu__toggle:checked + .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#hamburger-menu__toggle:checked ~ .hamburger-menu__box {
  display: block; }

.hamburger-menu__btn {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2; }

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3E2140;
  transition-duration: .25s; }

.hamburger-menu__btn > span::before {
  content: '';
  top: -8px; }

.hamburger-menu__btn > span::after {
  content: '';
  top: 8px; }

.hamburger-menu__box {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 350px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: linear-gradient(to left, #b4b0b0, #e9d5f0);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: .25s; }

.hamburger-menu__item {
  display: block;
  padding: 12px 24px;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: x-large;
  text-decoration: none;
  transition-duration: .25s; }

.hamburger-menu__item-BS {
  display: block;
  padding: 8px 24px;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: x-large;
  text-decoration: none;
  transition-duration: .25s; }

/* HEADER HAMBURGUER*/
@media screen and (max-width: 1024px) {
  header .menu {
    display: flex;
    justify-content: flex-start;
    margin-left: 2em; } }

@media screen and (max-width: 768px) {
  header .menu {
    display: none; }
  header .hamburger-menu {
    display: block;
    z-index: 1; } }

/*header*/
/*views*/
/*CONTACT*/
.contact {
  gap: 2rem;
  justify-content: center; }

.contact__box {
  display: inline-block;
  width: 400px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px; }

.contact__image {
  border: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0; }

.contact__Mail {
  border: none;
  padding: 15px 15px;
  text-align: left;
  color: #3E2140;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large; }

.contact__Phone {
  border: none;
  padding: 15px 15px;
  text-align: left;
  color: #3E2140;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large; }

.contact__boxName {
  border: none;
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  border-style: solid;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 500px; }

.contact__boxMail {
  border: none;
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  border-style: solid;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 500px; }

.contact__boxSubject {
  border: none;
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  border-style: solid;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px; }

.contact__boxMessage {
  border: none;
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  border-style: solid;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  height: 90px; }

.contact__btn {
  background-color: #3E2140;
  border: solid;
  border-color: #3E2140;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; }

.contact__btn:hover {
  background-color: #fff;
  border: solid;
  border-color: #3E2140;
  color: #3E2140; }

/*MEDIA QUERYS*/
@media screen and (max-width: 1200px) {
  .contact {
    align-content: center; }
  .contact__info {
    flex-direction: column; }
  .contact__boxSubject {
    max-width: 500px; }
  .contact__boxMessage {
    max-width: 500px; }
  .contact__btn {
    max-width: 500px; }
  .contact__box {
    max-width: 500px; } }

@media screen and (max-width: 768px) {
  .contact__info {
    flex-direction: column; }
  .contact__boxName {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__boxMail {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__boxSubject {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__boxMessage {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__btn {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__box {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; }
  .contact__info {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px; } }

/*CONTACT*/
/*MUNAY*/
.main {
  align-items: center;
  justify-content: center;
  z-index: 0; }

.img {
  max-height: 750px; }

.carousel-control-next-icon {
  background-image: url("https://api.iconify.design/bi/arrow-right-square-fill.svg?color=%233e2140&width=100&height=100");
  height: 20rem;
  opacity: .1; }

.carousel-control-prev-icon {
  background-image: url("https://api.iconify.design/bi/arrow-left-square-fill.svg?color=%233e2140&width=100&height=100");
  height: 20rem;
  opacity: .1; }

.carousel-indicators .active {
  background-color: #3e2140; }

/*MUNAY*/
/*INDEX*/
.index__description {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  margin-top: 25px;
  margin-left: 10%; }

.index {
  gap: 2rem;
  justify-content: center; }

.index__picture {
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }

.index__text {
  flex-basis: 60%;
  color: #3E2140;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  justify-content: center;
  padding-bottom: 30px; }

.index__image {
  width: 100%;
  max-width: 443px;
  max-height: 443px; }

@media screen and (max-width: 1024px) {
  .index {
    flex-wrap: wrap; }
  .index__picture {
    flex-grow: 1; }
  .index__description {
    margin-left: 0; } }

@media screen and (max-width: 480px) {
  .index__picture {
    max-width: 320px; }
  .index__description {
    font-size: small; } }

@media screen and (max-width: 320px) {
  .index__image {
    max-width: 320px; } }

/*INDEX*/
/*SERVICES*/
.services__description, .services__title {
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: large;
  margin-top: 25px;
  margin-left: 10%; }

.services__title {
  text-decoration: underline; }

.services {
  gap: 2rem;
  justify-content: center; }

.services__picture {
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }

.services__text {
  flex-basis: 60%;
  color: #3E2140;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  justify-content: center;
  padding-bottom: 30px; }

.services__image {
  width: 100%;
  max-width: 443px;
  max-height: 443px; }

@media screen and (max-width: 1024px) {
  .services {
    flex-wrap: wrap; }
  .services__picture {
    flex-grow: 1; }
  .service__description {
    margin-left: 0; } }

@media screen and (max-width: 480px) {
  .services__picture {
    max-width: 320px; }
  .services__description, .services__title {
    font-size: small; } }

@media screen and (max-width: 320px) {
  .services__image {
    max-width: 320px; } }

/*SERVICES*/
/*TESTIMONIES*/
.testimonies__description, .testimonies__title {
  text-align: center;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-size: small;
  font-style: italic;
  margin-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  color: #3E2140; }

.testimonies__title {
  font-size: medium;
  font-style: normal; }
