/* Variables */
:root {
  --principal: #fff;
  --secondary: #3E2140;
  --terciary: rgb(180, 176, 176);
}

/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */
html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  color: var(--principal);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--principal);
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
  display: inline-block;
}

/* HELPERS */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}



/* HEADER & NAVBAR*/
header {
  background: linear-gradient(to left, rgb(180, 176, 176),rgb(233,213,240));
}

.navbar-light .navbar-toggler {
  color: #3E2140;
  border-color: #3E2140;
}

.menu__link {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: x-large;
  color: #3E2140;
  text-decoration: none;
  margin-right: 20px;
}
.menu__link:hover {
  color: #ffff;
}


/*INDEX*/
.index__description {
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: large;
margin-top: 25px;
margin-left: 10%;
}

.index__text {
flex-basis: 60%;
color: #3E2140;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
justify-content: center;
padding-bottom: 30px;
}


/*SERVICES*/
.services__description {
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: large;
margin-top: 25px;
margin-left: 10%;
}

.services__title {
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: large;
margin-top: 25px;
margin-left: 10%;
}
.services {
gap: 2rem;    
justify-content: center;
}

.services__picture {
flex-basis: 40%;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
}
.services__text {
flex-basis: 60%;
color: #3E2140;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
justify-content: center;
padding-bottom: 30px;
}


/*GALLERY*/
.main {
align-items: center;
justify-content: center;
}

.gallery {
  max-width: 300px;
}


/*TESTIMONIES*/
.testimonies__title {
text-align: center;
color: #3E2140;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: medium;
margin-top: 25px;
}

.testimonies__description {
text-align: center;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: small;
font-style: italic;
margin-top: 25px;
padding-left: 100px;
padding-right: 100px;    
color: rgb(46, 45, 45);
}

.testimonies__title {
text-align: center;
text-decoration: underline;
color: #3E2140;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: medium;
margin-top: 25px;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color:#3E2140;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #3E2140;
}
.accordion-button::after {
  color: #3E2140;
}  

/*CONTACT*/
.contact {
gap: 2rem;    
justify-content: center;
margin-left: 10vh;
margin-right: 10vh;
}

.contact__info {
  display: grid;
  grid-template-columns: auto auto;
}
.contact__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  color: #3E2140;
font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: small;
}

.contact__btn {
background-color: #3E2140; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;

font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
font-size: large;
margin-top: 30px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}

.contact__btn:hover {
background-color: white; 
border: solid;
border-color: #3E2140;
color: #3E2140;
}  

/* FOOTER */ 
footer {
  display: flex;
  height: 10vh;
  min-height: 88px;
  justify-content:space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  background: linear-gradient(to left, rgb(180, 176, 176),rgb(233,213,240));
  color: #fff;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: large;
}
.foot__suscribe__text__title {
font-size: x-large;
}
.foot__suscribe__text__line {
font-size: small;
}

.foot__suscribe__section__box {
border: none;
padding: 15px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: large;
}

.foot__networks__contact {
padding: 10px 10px;
filter: none;
-webkit-filter: none;
}

.foot__networks__contact:hover {
filter: brightness(0) invert(1);
}

.foot__suscribe__section__btn {
    background-color: #3E2140; /*NO ME DECIDO CONTRA 907993*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

.foot__suscribe__section__btn:hover {
background-color: white;
border: solid;
border-color: #3E2140;
color: #3E2140;
}  


/*MEDIA QUERYS*/
@media screen and (max-width: 1200px) {
/*FOOTER*/
footer {
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  min-height: 220px;
}
.foot__suscribe__text {
  text-align: center;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
/*CONTACT*/
.contact__info {
  flex-direction: column;
}
.contact {
  margin-left: 0;
  margin-right: 0;
}  


@media screen and (max-width: 480px) {
/*CONTACT*/
.contact__info {
  grid-template-columns: auto;
}

/*FOOTER*/
footer {
  height: 35vh;
  min-height: 250px;
}
/*FOOTER*/
.foot__suscribe__section__btn {
  padding: 15px 10px;
  font-size: small;
}
.foot__suscribe__section__box {
  padding: 15px 0px;
  font-size: small;
}
footer {
  padding-left: 0;
  padding-right: 0;
}
