/* footer */
footer {
  @include flex-row-between;
  height: 10vh;
  min-height: 88px;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  background: linear-gradient(to left, map-get($colores, gradientstart), map-get($colores, gradientend));
  color: map-get($colores, principal);
  font-family: $font-primary;
  font-size: large;
}

.foot__networks {
  height: 75px;
}

.foot__networks__contact {
  padding: 10px 10px;
  filter: none;
  -webkit-filter: none;

  &:hover {
    filter: brightness(0) invert(1);
  }
}

.foot__suscribe__mail {
  @include flex-row-end;
  height: 54px;
}

.foot__suscribe__text {
  height: 51px;

  &__title {
    font-size: x-large;
    margin-bottom: 0rem;
    line-height: 1;
    font-weight: bold;
  }

  &__line {
    font-size: small;
    margin-bottom: 0rem;
    line-height: 1;
  }
}

.foot__suscribe__section__box {
  border: none;
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  line-height: normal;
}




.foot__suscribe__section__btn {
  background-color: map-get($colores, secondary);
  border: solid;
  border-color: map-get($colores, secondary);
  color: map-get($colores, principal);
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  height: 51px;
  line-height: normal;

  &:hover {
    background-color: map-get($colores, principal);
    border: solid;
    border-color: map-get($colores, secondary);
    color: map-get($colores, secondary);
  }
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1200px) {
  footer {
    @include flex-column-center;
    height: 25vh;
    min-height: 220px;
  }

  .foot__suscribe__section {
    @include flex-row-center;
  }

  .foot__suscribe__mail {
    @include flex-column-center;
    height: 108px;
  }

  .foot__suscribe__text {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    height: 35vh;
    min-height: 250px;
  }

  .foot__suscribe__section__btn {
    padding: 15px 10px;
    font-size: small;
  }

  .foot__suscribe__section__box {
    padding: 15px 10px;
    font-size: small;
  }

  footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/* footer */