/*GALLERY*/
.main {
    justify-content: center;
    padding-bottom: 25px;
    }
    
    .gallery {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    }
    
    
    .gallery__object {
      filter: none;
      -webkit-filter: none;
      &:hover {
        transform: scale(1.5,1.5);
        }
    }
    
    @media screen and (max-width: 1024px) {
          .gallery__object:hover {
            transform: scale(1.2,1.2);
           }
        
        }
/*GALLERY*/    