/*MUNAY*/
.main {
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.img {
  max-height: 750px;
}

.carousel-control-next-icon {
  background-image: url('https://api.iconify.design/bi/arrow-right-square-fill.svg?color=%233e2140&width=100&height=100');
  width: 10rem;
  height: 20rem;
  opacity: .1;
}

.carousel-control-prev-icon {
  background-image: url('https://api.iconify.design/bi/arrow-left-square-fill.svg?color=%233e2140&width=100&height=100');
  width: 10rem;
  height: 20rem;
  opacity: .1;
}

.carousel-indicators .active {
  background-color: #3e2140;
}

/*MUNAY*/