/*TESTIMONIES*/
.testimonies__title {
    text-align: center;
    color: $secondary;
    font-family: $font-primary;
    font-size: medium;
    margin-top: 25px;
    }
    
    .testimonies__description {
    text-align: center;
    font-family: $font-primary;
    font-size: small;
    font-style: italic;
    margin-top: 25px;
    padding-left: 100px;
    padding-right: 100px;    
    color: $secondary;
    }
    
    .testimonies__title {
    text-align: center;
    color: $secondary;
    font-family: $font-primary;
    font-size: medium;
    margin-top: 25px;
    }