/*TESTIMONIES*/

.testimonies__description {
    text-align: center;
    font-family: $font-primary;
    font-size: small;
    font-style: italic;
    margin-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    color: $secondary;
}

.testimonies__title {
    @extend .testimonies__description;
    font-size: medium;
    font-style: normal;
}